body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
}

h2 {
    color: #4CAF50;
    text-align: center;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    text-align: center;
}

#resultado p {
    background-color: #e7f3e7;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
}
